.container__frase {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@import url(styles/header.css);

:root{

--cor-de-fundo: #390979;

--cor-cabecalho: #ccff00;

}

body{

background-color: var(--cor-de-fundo);

margin: 0;

}